#corpo{
    background: rgb(141, 153, 165);
    color: #000;
    display: grid;
    grid-template: calc(100vh - 50px) / min-content 1fr;
    width:calc(100vw - 40px)
}
.tabs{
    grid-column: 1 / 2;
}
.content{
    grid-column: 2 / 3;
}
.wrapper{
    display: grid;
  
    padding: 5px;
    width: 100%; height: 100%;
    background: rgb(112, 129, 143);

  
    border-radius: 5px;
    overflow-x:hidden;
}
.tab{
    min-width: 220px;
    background: transparent;
    border: 0;
    margin: 5px 0;
    height: 50px;
}

.ativa{
    border-radius: 10px 0 0 10px;
    background: rgb(112, 129, 143);
 
    box-shadow: 0 0 15px #555;

}

table{
    border-collapse: collapse;
    width:100%;
    font-size:14pt;

}
tr:nth-child(even){
    background:rgb(112, 129, 143)
}

.wrapper label{
    grid-column: 1/2;
    text-align:right;
    padding: 8px 0;
    
}
.wrapper input{
    grid-column: 2/3;
    padding: 8px;
}

button{
    grid-column: 1/3;
    height:30px;
}

#result-wrapper{
    grid-column: 1 /3;
    width:100%;
    display:flexbox;
    flex-flow: row-wrap;
    justify-content: space-around;
}
.result-tab{
    border: 1px solid #bbb;
    border-radius:10px;
    text-align:center;
    padding:10px;
    width:200px;
    margin:10px;
}
